@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
}

.hh{
    background-color: #1f2937;
}

.header{
    display: flex;
    font-size: 18px;
    align-items: center;
    padding: 25px 200px;
    flex: 1;
}

.logo{
    height: 70px;
    width: auto;
}

.header-links{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    margin-left: auto;
}

.header-links a{
    text-decoration: none;
    color: whitesmoke
}

.hero{
    display: flex;
    margin: 40px 200px;
    justify-content: center;
    gap: 20px;
    color: whitesmoke;
}

.hero-image{
    height: 100%;
}

.sign-up {
    padding: 8px 15px;
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    font-weight: 300;
    background-color: rgb(34, 51, 105);
    margin: 0;
}

h1{
    font-weight: 1500;
    font-size: 48px;
}

.hero-text{
    font-size: 18px;
}